@charset "utf-8";

/*
Projet  : Starter CSS
Author  : Stéphane Deborne
Version : 1.0
Date    : 14/10/2015
*/

/*---------------------------------------------*/
/* GLOBAL*/
/*---------------------------------------------*/
html {
	box-sizing:border-box;
	height: 100%;
	font-size: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	position: relative;
	height: 100%;
	font-family: "HelveticaNeue-Light",
				 "Helvetica Neue Light", "Helvetica Neue",
				 Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.625em; /*26px*/
	color: #76787c;
	background: #fff;
	-webkit-font-smoothing: antialiased;
}




/* links*/
/*---------------------------*/
a {
	text-decoration: none;
	color: #fff;
	-webkit-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}
a:active, a:hover {
	color: #aaa;
}

/* Typographie*/
/*---------------------------*/
h1, .h1-like,
h2, .h2-like,
h3, .h3-like,
h4, .h4-like,
h5, .h5-like,
h6, .h6-like {
	font-weight: 700;
	color: #1c1f26;
	margin: 0 0 0.71875em 0;
	line-height: 1.25em;
}
h1, .h1-like {
	font-size: 2em;
}
h2, .h2-like {
	font-size: 1.75em;
}
h3, .h3-like {
	font-size: 1.5em;
}
h4, .h4-like {
	font-size: 1.25em;
}
h5, .h5-like {
	font-size: 1.125em;
}
h6, .h6-like {
	font-size: 1em;
}
p {
	margin: 0 0 0.71875em 0;
}
/* table */
/*---------------------------*/
table {
	width: 100%;
	margin: 0.71875em 0;
	table-layout: fixed;

}
tr,
td,
th {
	vertical-align: middle;
}
thead th {
	padding: 0.71875em 0;
	border-bottom: 2px solid #c1c1c4;
	text-align: left;
	font-weight: 700;
}
tbody td {
	padding: 0.71875em;
	border-bottom: 1px solid #c1c1c4;
}
tbody tr:nth-child(even) {
	background: #E7E7E7;
}
/* Forms */
/* -----------------------------------------------------*/
form ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
input,
label,
select {
    display: block;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 1em;
}

label {
    margin-bottom: .35938em;
    font-weight: 700;
    cursor: pointer;
}

label.required:after {
    content: " *";
}

textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
select[multiple=multiple] {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: .71875em;
    padding: .625em;
    border: 1px solid #e8e8e9;
    border-radius: 0;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 1em;
    background-color: #fff;
    box-shadow: none;
    -webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

textarea:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="url"]:hover,
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
select[multiple=multiple]:hover {
    border-color: #ceced0;
}

textarea:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select[multiple=multiple]:focus {
    border-color: #D35F60;
    outline: none;
    box-shadow: 0 0 5px rgba(205,75,77,.7);
}

textarea {
    resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin-right: .71875em;
}

input[type="file"] {
    width: 100%;
    margin-bottom: .71875em;
    padding-bottom: .23958em;
}

select {
    width: auto;
    margin-bottom: .71875em;
    max-width: 100%;
}

fieldset {
    margin: 0 0 .71875em 0;
    padding: 1.4375em;
    border: 1px solid #e8e8e9;
    border-radius: 0;
    background: #fafafa;
}

::-webkit-input-placeholder {
    color: #c8c9ca;
}

:-moz-placeholder {
    color: #c8c9ca;
}

::-moz-placeholder {
    color: #c8c9ca;
}

:-ms-input-placeholder {
    color: #c8c9ca;
}
input[id="text_field"] {
    display: inline-block;
    width: 70%;
}
label[for="text_field"] {
    display: inline-block;
    width: 15%;
}

/* Grouping content*/
/*---------------------------*/
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}
video, audio {
	max-width: 600px;
	width: 100%;
}

/* Buttons*/
/*---------------------------*/
.btn {
	display: inline-block;
	position: relative;
	color: #fff;

	border: 2px solid #fff;
	border-radius: 50px;
	padding: 0 1.5em;
	line-height: 2.5em;
	white-space: nowrap;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn:hover {
	color: #fff;
	background-color: rgba(255,255,255,0.2);
}
.btn:active {
	top: 1px;
}

.btn--small {
	font-size: 0.75em;
}
.btn--large {
	font-size: 1.5em;
}
.btn--secondary {
	color: #666;
	border: 1px solid #666;

}
.btn--secondary:hover {
	color: #666;
	background-color: rgba(0,0,0,0.2);
}


/*---------------------------------------------*/
/* CONTENT*/
/*---------------------------------------------*/
.wrap {
	padding-left: 10px;
	padding-right: 10px;
}
/*---------------------------------------------*/
/* grid*/
/*---------------------------------------------*/

/* mobil first */
@media (min-width: 481px) {
	.wrap {
		max-width: 1200px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.grid:after {
		display: table;
		content: "";
		clear: both;
	}
	.grid {
		margin-right: -10px;
		margin-left: -10px;
	}
	.grid [class*="col-"] {
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
	.col-1 {
		width: 8.333%;
	}
	.col-2 {
		width: 16.666%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.333%;
	}
	.col-5 {
		width: 41.667%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.333%;
	}
	.col-8 {
		width: 66.667%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.333%;
	}
	.col-11 {
		width: 91.667%;
	}
	.col-12 {
		width: 100%;
	}
	/* table*/
	/*---------------------------*/
	.table {
		display: table;
		width: 100%;
	}
	.fixed {
		table-layout: fixed;
	}
	.row {
		display: table-row;
	}
	.cell {
		display: table-cell;
		vertical-align: top;
	}
}
/* tablet view*/
@media (min-width: 481px) and (max-width: 768px) {
	.grid-t {/*to use in HTML only if no "grid" placed in previous choregraphie*/
		margin-left: -10px;
		margin-right: -10px;
	}
	.grid-t:after {
		display: table;
		content: "";
		clear: both;
	}
	
	.grid-t [class*="col-t-"] {
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
	.col-t-1 {
		width: 8.333%;
	}
	.col-t-2 {
		width: 16.666%;
	}
	.col-t-3 {
		width: 25%;
	}
	.col-t-4 {
		width: 33.333%;
	}
	.col-t-5 {
		width: 41.667%;
	}
	.col-t-6 {
		width: 50%;
	}
	.col-t-7 {
		width: 58.333%;
	}
	.col-t-8 {
		width: 66.667%;
	}
	.col-t-9 {
		width: 75%;
	}
	.col-t-10 {
		width: 83.333%;
	}
	.col-t-11 {
		width: 91.667%;
	}
	.col-t-12 {
		width: 100%;
	}

}
/* mobile view*/
@media (max-width: 480px) {
	.grid-m {/*to use in HTML if you want to use grid and floats in mobile view*/
		margin-left: -10px;
		margin-right: -10px;
	}
	.grid-m:after {
		display: table;
		content: "";
		clear: both;
	}
	
	.grid-m [class*="col-m-"] {
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
	.col-m-1 {
		width: 8.333%;
	}
	.col-m-2 {
		width: 16.666%;
	}
	.col-m-3 {
		width: 25%;
	}
	.col-m-4 {
		width: 33.333%;
	}
	.col-m-5 {
		width: 41.667%;
	}
	.col-m-6 {
		width: 50%;
	}
	.col-m-7 {
		width: 58.333%;
	}
	.col-m-8 {
		width: 66.667%;
	}
	.col-m-9 {
		width: 75%;
	}
	.col-m-10 {
		width: 83.333%;
	}
	.col-m-11 {
		width: 91.667%;
	}
	.col-m-12 {
		width: 100%;
	}

}
/* helper*/
/*---------------------------*/

.txt-center {
	text-align: center;
}
.txt-right {
	text-align: right;
}
.txt-left {
	text-align: left;
}


.v-middle {
	vertical-align: middle;
}
.v-top {
	vertical-align: top;
}
.v-bottom {
	vertical-align: bottom;
}





/*
m = margin
a, t, b = all, top, bottom
n, s, m, l = none, small, medium, large
*/

.man {
	margin: 0px !important;
}
.mas {
	margin: 20px !important;
}
.mam {
	margin: 40px !important;
}
.mal {
	margin: 60px !important;
}



.mbn {
	margin-bottom: 0px !important;
}
.mbs {
	margin-bottom: 20px !important;
}
.mbm {
	margin-bottom: 40px !important;
}
.mbl {
	margin-bottom: 60px !important;
}


.mtn {
	margin-top: 0px !important;
}
.mts {
	margin-top: 20px !important;
}
.mtm {
	margin-top: 40px !important;
}
.mtl {
	margin-top: 60px !important;
}

.ptm {
	padding-top: 40px !important;
}
.pbm {
	padding-bottom: 40px !important;
}
.ptl {
	padding-top: 60px !important;
}
.pbl {
	padding-bottom: 60px !important;
}
/* header*/
/*---------------------------*/

#header {
	position: inherit;

}

.menu {

	height: 0;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.menu ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
.menu li {
	display: block;
}
.menu a {
	display: block;
	padding: 1em 0em;
	color: #ededed;
}

.menu .select {
	color: #DFEFF5;
}
.menu-collapse {
	display: block;
	height: auto;
	opacity: 1;
	text-align: center;
}
/* burger*/
/*---------------------------*/

.btn-menu {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	background: url('../img/menu.png') no-repeat;
	cursor: pointer;
}

/* Menu Principal*/
/*---------------------------*/

#menu_principal {
	position: absolute;
    margin-top: 132px;
    background-color: black;
    max-width: 100%;

}

.menu{

	height: 0;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.menu ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
.menu li {
	display: block;
}
.menu a {
	display: block;
	padding: 1em 0em;
	color: #ededed;
}

.menu .select {
	color: #7DA0FF;
}
.menu-collapse {
	display: block;
	height: auto;
	opacity: 1;
	text-align: center;
}
/* burger*/
/*---------------------------*/

.btn-menu {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	background: url('../img/menu.png') no-repeat;
	cursor: pointer;
}



/* Main*/
/*---------------------------*/
/* banner full*/
/*---------------------------*/
.banner-full {
	background: url('../img/look.jpg') no-repeat;
	background-position: 50%;
	background-size: 200%;
	padding: 5em 0;
	height: auto;
}

.banner-full-txt h1, .banner-full-secondary-txt h1 {
	font-size: 2.5em;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Playfair Display', serif;
	text-shadow: 1px 1px 0px #3D3D3D;
}
.banner-full-txt h1 + p, .banner-full-secondary-txt h1 + p  {
	font-family: 'Nothing You Could Do', cursive;
	font-size: 2.5em;
	color: #DFEFF5;
	text-shadow: 1px 1px 0px #3D3D3D;
}
/* banner full secondary*/
/*---------------------------*/
.banner-full-secondary {
	background: url('../img/brow.jpg') no-repeat;
	background-position: 50%;
	background-size: 200%;
	padding: 5em 0;
	height: auto;
}
.banner-full-secondary-txt h1, .banner-full-secondary-txt p {
	text-align: center;
	color: #fff;
}

/* banner one third*/
/*---------------------------*/
.banner-one-third {
	background-color: #ddd;
}
.banner-one-third h1 {
	font-weight: 300;
	text-transform: uppercase;
}
.banner-one-third article {
	position: relative;
	overflow: hidden;
	height: 190px;
}

.banner-one-third article a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 10px;
    right: 10px;
    -webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.banner-one-third article img {
	display: block;
	margin-top: -20%;
}


.banner-one-third article h1, .banner-one-third article p {
	margin-bottom: 0;
	text-align: center;
}
.banner-one-third article h1 {
	font-family: 'Playfair Display', serif;
	text-shadow: 1px 1px 0px #3D3D3D;
	color: #fff;
	margin-top: 72px;
	text-transform: uppercase;
}
.banner-one-third article p {
	font-family: 'Nothing You Could Do', cursive;
	color: #DFEFF5;
	text-shadow: 1px 1px 0px #3D3D3D;
	text-transform: uppercase;
}

/* banner two third */
/*---------------------------*/

.banner-two-third-title {
	padding: 1em 0;
	border-bottom: 2px solid #DFEFF5;
	border-top: 2px solid #DFEFF5;
}

.banner-two-third-title h1 {
	font-family: 'Playfair Display', serif;
	text-shadow: 1px 1px 0px #000;
	color: #DFEFF5;
	margin-bottom: 0;
	text-align: center;
}
.banner-two-third article h1 {
	font-size: 1.25em;
	font-weight: 300;
	margin-bottom: 0;
	margin-top:10px;
}

/* Stat section */
/*---------------------------*/
.stat-section {
	background-color: #F0F0F0;
}
.stat-section ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.stat-section li {
	border-bottom: 1px solid #ADADAD;
	margin-bottom: 20px;
}

.stat-section li:last-child {
	border-bottom: none;
}
.stat-section-description {
	font-size: 130%;
	margin-top: 1em;
}
.stat-section [class*="pe-"] {
	color: #DFEFF5;
}

/* related list*/
/*---------------------------*/
.related-list section h1 {
	font-weight: 300;
	font-size: 1.5em;
}
.related-list article {
	border-bottom: 1px solid #ADADAD;
	padding-top: 10px;
}
.related-list article a {
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
}

.related-list article h1 {
	font-weight: 300;
	font-size: 1em;
	margin-bottom: 0;
}
.related-list article img {
	float: left;
	width: 20%;
	margin: 0px 20px 0px 0;
}
/* nesletter*/
/*---------------------------*/
.newsletter {
	position: relative;
}
.newsletter form {
	position: absolute;
	padding: 0 20px;
	top: 35%;
	left: 0;
	right: 0;
}
/* footer*/
/*---------------------------*/
footer {
	background-color: #212121;
	padding: 20px 0 1px;
}
#totop {
	text-align: center;
	display: block;
	color: #fff;
	background: #DFEFF5;
	border-radius: 5px;
	padding: 1em 2em;
	margin-top: 20px;
	margin-bottom: 20px;
}
footer small {
	text-align: center;
	display: block;
}




/*---------------------------------------------*/
/* RWD*/
/*---------------------------------------------*/
@media (min-width: 481px) {
	#header {
		background: black;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
	}
    .logo {
		background:#aaa;
		position: fixed;
		top: 42px;
		left: 0;
		right: 0;
		z-index: 100;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.logo:hover {
		opacity: 0.75;
		transform: scale(0.85);
	}

    
    
    
	.menu {
		height: auto;
		opacity: 1;
	}
	.menu ul {
		text-align: inherit;
	}
	.menu li {
		display: inline-block;
	}
	.menu a {
		padding: 0.5em 1em;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.menu a:hover {
		color: #7993FC;
	}
	.btn-menu {
		display: none;
	}
	/* banner full*/
	/*---------------------------*/
	.banner-full {
		padding: 10em 0;
	}
	.banner-full-txt h1, .banner-full-secondary-txt h1 {
	font-size: 3em;
	}
	.banner-full-txt h1 + p, .banner-full-secondary-txt h1 + p  {
		font-size: 3em;
	}
	/* banner one third*/
	/*---------------------------*/
	.banner-one-third article {	
	    height: 230px;
	}
	.banner-one-third article img {
	    display: block;
	    width: 100%;
	    margin-top: -35%;
	}
	/* banner two third */
	/*---------------------------*/
	.banner-two-third img {
		width: 100%;
	}
	.banner-two-third-title-first {
		background: url('../img/women.jpg') no-repeat;

	}
	.banner-two-third-title-second {
		background: url('../img/men.jpg') no-repeat;

	}
	.banner-two-third-title {
		background-size: 100%;
		background-position: 50%;
		padding: 10% 0;
		border-bottom: none;
		border-top: none;
	}
	.grid [class*="col-"].right {
		float: right;
	}
	/* Stat section */
	/*---------------------------*/
	.stat-section li {
		border-bottom: none;
		border-right: 1px solid #ADADAD;
	}

	.stat-section li:nth-child(2) {
		border-right: none;
	}
	.stat-section li:last-child {
		border-right: none;
	}

/* footer*/
/*---------------------------*/
	footer {
		padding: 60px 0;
	}
	#totop {
		text-align: right;
		display: block;
		color: #DFEFF5;
		background: none;
		border-radius: 0px;
		padding: 0;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	footer small {
		text-align: left;
	}

}
@media (min-width: 481px) and (max-width: 600px) {
	.menu a {
		padding: .5em .8em;
	}
}
/* small screen */

@media (min-width: 769px) {
	#header {
		position: fixed;

	}
	/* banner full*/
	/*---------------------------*/
	.banner-full {
		background-attachment: fixed;
		background-size: cover;
		padding: 15em 0;
	}
	/* banner full secondary*/
	/*---------------------------*/
	.banner-full-secondary {
		background-attachment: fixed;
		background-size: cover;
		padding: 15em 0;
	}
	/* banner one third*/
	/*---------------------------*/
	.banner-one-third article img {
	    margin-top: 0;
	}
	.banner-one-third article h1 {
	    margin-top: 17%;
	}
	.banner-one-third article a:hover {
		background-color: rgba(0,0,0,0.7);
	}
	/* banner two third */
	/*---------------------------*/
	.banner-two-third-title {
	    padding: 44% 0;
	}
	/* related list*/
	/*---------------------------*/
	.related-list article a {
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.related-list article a:hover {
		background-color: #DFDFDF;
	}
	/* Stat section */
	/*---------------------------*/
	.stat-section li:first-child {
		border-left: 1px solid #ADADAD;
	}

	.stat-section li:nth-child(2) {
		border-right: 1px solid #ADADAD;
	}
	.stat-section li:last-child {
		border-right: 1px solid #ADADAD;
	}

}

/* desktop */
@media (min-width: 900px) {
	/* banner full*/
	/*---------------------------*/
	.banner-full {
		padding: 25em 0;
	}
	.banner-one-third article {
	   
	    height: auto;
	}
	.banner-one-third article h1 {
	    margin-top: 30%;
	}
}


/* tablet orientation landscape */

@media (min-width: 769px) and (max-width: 1024px) and (orientation:landscape) {

	/* banner full*/
	/*---------------------------*/
	.banner-full {
		background-attachment: initial;
		background-size: 120%;		
		padding: 10em 0;
	}
	/* banner full secondary*/
	/*---------------------------*/
	.banner-full-secondary {
		background-attachment: initial;
		background-size: 120%;
		padding: 10em 0;
	}


}